/*
 Theme Name:   Storefront Child
 Theme URI:    
 Description:  Storefront Child by mikl
 Author:       Mikkel Meyer Andersen
 Author URI:   http://www.tada.dk
 Template:     storefront
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  storefront-child
*/


body, h1, h2, h3, h4, p {
  font-family: Georgia, 'Helvetica Neue', Times, 'Times New Roman', serif;
}

.site-search {
}

.site-header {
  padding-top: 1em;
  height: 7em;
}

.site-content {
  margin-top: 9em;
}

.site-header .site-branding, .site-header .site-logo-anchor, .site-header .site-logo-link {
  margin-bottom: 1em;
}

.storefront-primary-navigation {
  background-color: #ffffff;  
}


#site-navigation {
  width: 100%;
}

.site-header h3 {
  margin-bottom: 0em;
}

@media screen and (max-width: 768px) {
    .hide-small {
        display: none !important;
    }
}

@media screen and (min-width: 768px) {
  .main-navigation ul.menu > li > a, .main-navigation ul.nav-menu > li > a {
    padding-top: 1em;
    padding-bottom: 1em;
  }
}

.woocommerce-active .site-header .main-navigation {
  width: 75%;
  float: right;
  clear: none;
  margin-right: 0;
  padding-top: 0;
  text-align: right;
}

.site-description {
  padding-bottom: 1em;
}

.main-navigation ul.menu > li > a, 
.main-navigation ul.nav-menu > li > a {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.site-header .site-logo-anchor {
  width: 20%;
}

.site-header .site-header-cart {
  clear: both;
}

.woocommerce-active .site-header .site-header-cart {
  padding-top: 0;
}

#masthead.site-header {
  margin-bottom: 0;
}

.site-header-cart .cart-contents .count { 
  display:none !important; 
}

@media screen and (max-width: 767px) {
  .woocommerce-active .site-header .site-header-cart {
    position: relative;
  }
  
  .menu-toggle {
    margin-top: 0;
    margin-bottom: 4.5em;
  }
}

/*.site-header-cart {

  width: 100%;
  background-image: url("slider/test 3.jpg");
}
*/


body.woocommerce #primary { 
  width: 100%; 
}

    
  /*
  
    @media screen and (max-width: 860px) {
    margin-top: -2em;  
  }
  
  @media screen and (min-width: 860px) {
    margin-top: -2em;  
  }
  
  @media screen and (min-width: 861px) and  (max-width: 1000px) {
    margin-top: -2em;  
  }
  */
  
.site-search {
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 65.141em) {
  .col-full {
    padding-left: 2.618em;
    padding-right: 2.618em;
  } 
}







.flashingbox {
    background-color: #3D9CD2;
    -webkit-animation-name: flashingboxkeyframes; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: flashingboxkeyframes;
    animation-duration: 4s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes flashingboxkeyframes {
    50%  {background-color: orange;}
}

/* Standard syntax */
@keyframes flashingboxkeyframes {
    50%   {background-color: orange;}
}











.fee {
  color: red;
}


/*
pop-up
*/
#slider {
    /*hide the window*/
    position:fixed;
    bottom:-375px;
    right:0px;
    /*set the size and background color*/
    height:350px; 
    width:600px;
    /*background-color:#fff;
    */
    
    font-size: 0.8em; 
    
    background-color: #cccccc; /*#3D9CD2; /* orange;*/
    /*add border*/
    border-top:1px solid #000;
    border-left:1px solid #000;
    /*add shadow*/
    -moz-box-shadow: 0px 0px 15px #888;
    -webkit-box-shadow: 0px 0px 15px #888;
    box-shadow: 0px 0px 15px #888;
    
    padding: 0.5em;
}

#slider td {
  padding: 2px;
}

#slider-close {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}

